<form method="post" action="{{ path('onboarding_delete', {'id': note.id}) }}" onsubmit="return confirm({{ "msg.onboarding.delete"|trans }});">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ note.id) }}">
    <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> {{ "button.onboarding.delete"|trans }}</button>
</form>
