{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ "title.inactive_user"|trans({}) }}{% endblock %}

{% block body %}
    <main role="main" class="content container">
        <div class="text-center">
            <h1 class="mt-5">{{ "title.inactive_user"|trans({}) }}</h1>

            <p class="mt-5">
                <i class="fa fa-sad-tear fa-10x" style="color:indianred"></i>
            </p>
            <p class="mt-2 mb-5">
                {{ "msg.inactive_user"|trans({}) }}
            </p>
        </div>
    </main>
{% endblock %}
