{% extends 'base.html.twig' %}

{% block title %}Hello LetterController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/nplhse/Projekte/icuhelp/src/Controller/LetterController.php'|file_link(0) }}">src/Controller/LetterController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/nplhse/Projekte/icuhelp/templates/letter/homepage.html.twig'|file_link(0) }}">templates/letter/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
