{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ "title.password.link_send"|trans }}{% endblock %}

{% block body %}
    <main role="main" class="container">
        <p>{{ "msg.password.link_send"|trans{'expiration': tokenLifetime|date('g') } }}</p>
    </main>
{% endblock %}