<form method="post" action="{{ path('contact_delete', {'id': contact.id}) }}" onsubmit="return confirm({{ "msg.contact.delete"|trans }});">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
    <button  class="btn btn-danger"><i class="fa fa-trash"></i> {{ "button.contact.delete"|trans }}</button>
</form>
