<form method="post" action="{{ path('info_delete', {'id': info.id}) }}" onsubmit="return confirm({{ "msg.info.delete"|trans }});">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ info.id) }}">
    <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> {{ "button.info.delete"|trans }}</button>
</form>
