{% block footer %}
    <footer class="container">
        <hr />
        <p>&copy; Jens Christoph Steltner 2020 / <a href="https://github.com/nplhse/icuhelp">icuhelp</a> v0.1.0</p>
    </footer>
{% endblock %}