{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy; Jens Christoph Steltner 2020 / <a href="https://github.com/nplhse/icuhelp">icuhelp</a> v0.1.1-alpha</span>
        </div>
    </footer>
{% endblock %}