{% block footer %}
    <footer class="footer">
        <div class="container p-2">
            <hr />
            <span class="text-muted">&copy; Jens Christoph Steltner 2020 | <a href="https://github.com/nplhse/icuhelp">icuhelp</a> v0.1.5</span>
        </div>
    </footer>
{% endblock %}