{% block footer %}
    <footer class="footer">
        <div class="container text-right">
            <span class="text-muted small"><i class="fab fa-github"></i> <a href="https://github.com/nplhse/icuhelp">icuhelp</a> v0.2.3</span>
        </div>
    </footer>
{% endblock %}